{% extends "index.twig" %}

{% block users %}
    {% if users %}
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.orders }}</td>
            </tr>
        {% endfor %}
    {% else %}
        Нет данных
    {% endif %}
{% endblock %}

{% block orders %}
    {% if orders %}
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.comment }}</td>
                <td>{{ order.call_back }}</td>
                <td>{{ order.payment }}</td>
                <td>{{ order.user_id }}</td>
            </tr>
        {% endfor %}
    {% else %}
        Нет данных
    {% endif %}
{% endblock %}